@model CarShowroom.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
<div class="container">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "login-form" }))
    {
    <div class="login-wrap">
        <p class="login-img"><i class="icon_lock_alt"></i></p>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.AntiForgeryToken()

        <div class="input-group">
            <span class="input-group-addon"><i class="icon_profile"></i></span>
            @Html.TextBoxFor(e => e.Email, new { @class = "form-control", placeholder = "Username" })
            @Html.ValidationMessageFor(e => e.Email, "", new { @class = "text-danger" })
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            @Html.PasswordFor(p => p.Password, new { @class = "form-control", placeholder = "Password" })
            @Html.ValidationMessageFor(p => p.Password, "", new { @class = "text-danger" })
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="icon_key_alt"></i></span>
            @Html.PasswordFor(p => p.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })
            @Html.ValidationMessageFor(p => p.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
        <button class="btn btn-primary btn-lg btn-block" type="submit">Register</button>
        <a href="/Account/Login" class="btn btn-info btn-lg btn-block">Signup</a>
    </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
